*{
    background-color: #363636;
    color: rgb(166, 166, 167);
    font-family: "Raleway", sans-serif;
}

.Si{
    color: #ffffff;
    font-size: 8vh;
    margin: 0;
    text-align: center;
}

.didi{
    font-size: 2.5vh;
    margin-top: 0;
    text-align: center;
    transform: translateX(-4ch);
    
}
