*{
    margin: 0;
}
body {
    background-color: #363636;
    font-family: "Raleway", sans-serif;
}


.Si{
    color: #ffffff;
    font-size: 8vh;
    padding-top: 30px;
    margin: 0;
    text-align: center;
}

.didi{
    color: #979696;
    font-size: 2.5vh;
    margin-top: 0;
    text-align: center;
    transform: translateX(-4.3ch) translateY(-1.2ch);
}
.img{
    display: flex;
    justify-content: center;
}

.i{
    width: 20vh;
    border-radius: 150px;
    transform: translateX(30ch) translateY(-66ch);
}

.main-back{
    min-height: 100vh;     
    margin: 0 8vw;         
    background-color: #1f1f1f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.hobby{
    color: #ffffff; 
    padding-top: 60px;
    padding-left: 80px;
}

